@use "../../assets//partials/" as p;

.fileBoxSection{
  display: flex;
  flex-direction: column;
  height: 80%;
}

.fileBox {
  height: auto;
  width: 90%;
  border: 0.25rem dashed p.$fileBoxBorder;
  border-radius: 1.5rem;
  background-clip: padding-box;
  position: relative;
  margin-bottom: 1rem;
}

.files {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}

.browse {
  @include p.textP;
  height: 2rem;
  display: flex;
  margin-bottom: 1rem;
}

.browse p {
  opacity: 0.2;
}

.browse input {
  display: none;
}

.browse label {
  @include p.btnMain;
}

.boxDragOver {
  background-color: #eaeaea !important;
}

.hidden {
  display: none;
}

