@use "../../assets/partials/" as p;

.useSection {
  display: flex;
  min-height: 100vh;
  height: auto;
  padding-top: clamp(0.5rem, 0rem + 2.2222vw, 2rem);
  background-color: p.$backgroundYellow;
}

.logo {
  background: p.$backgroundGradient;
  padding: clamp(0.5rem, 0rem + 2.2222vw, 2rem) clamp(0.5rem, 0rem + 2.2222vw, 2rem) clamp(0.5rem, 0rem + 2.2222vw, 2rem) clamp(0.5rem, 0rem + 2.2222vw, 2rem);
  max-width: 20%;
  position: sticky;
  right: 0;
}

.logo img {
  width: 100%;
}

.app {
  background-color: white;
  padding-left: 2rem;
  width: 100%;
}

.app h1 {
  @include p.textH;
  text-align: left;
  color: black;
  padding-top: clamp(0.5rem, 0rem + 2.2222vw, 2rem);
}
