$backgroundGradient: linear-gradient(180deg, #f4ce14 0%, #f5d01d 0.01%, #ffee9d 99.98%, rgba(255, 243, 184, 0.08) 99.99%, #ffee9d 100%);
$backgroundInput: #d9d9d9;
$backgroundYellow: #ffee9d;
$fileBoxBorder: #d9d9d9;
