@use "../../assets//partials/" as p;

.fileBoxSection {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.fileBox {
  height: 80%;
  width: 90%;
  border: 0.25rem dashed p.$fileBoxBorder;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fileBox::-webkit-scrollbar {
  display: none;
}

.files {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin-bottom: 1rem;

  button {
    @include p.btnMain;
    height: 2rem;
  }

  @media screen and (max-width: "890px") {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .options {
    display: flex;
    gap: 1rem;

    @media screen and (max-width: "890px") {
      flex-direction: column;
      align-items: center;
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}

.browse {
  @include p.textP;
  height: 2rem;
  display: flex;
  align-items: center;

  p {
    opacity: 0.2;
  }

  input {
    display: none;
  }

  label {
    @include p.btnMain;
  }
}

.browse .browse .boxDragOver {
  background-color: #eaeaea !important;
}

.hidden {
  display: none;
}
