@use "../../assets//partials/" as p;

.sectionRegister {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 5rem;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
  gap: 7%;
  @include p.textP;
  text-align: left;

  img {
    max-width: 40%;
  }
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;

  button {
    @include p.btnMain;
    padding: 0.5rem;
  }

  input {
    background-color: p.$backgroundInput;
    border: none;
    font-size: clamp(0.75rem, 0.5rem + 1.1111vw, 1.5rem);
    padding: 0.125rem;
  }

  .linkLogin {
    position: absolute;
    bottom: -10%;
    left: 0;
    @include p.textP;
    font-size: clamp(0.75rem, 0.6211rem + 0.4211vw, 1rem);
    color: blue;
  }

  .errorMessage {
    position: absolute;
    bottom: -18%;
    left: 0;
    @include p.textP;
    font-size: clamp(0.75rem, 0.6211rem + 0.4211vw, 1rem);
    color: red;
  }
}
